### Écrivez un programme Pandas pour créer et afficher un DataFrame à partir des données de dictionnaire suivantes avec des étiquettes d’index.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

« tentatives »: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualifier': ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui', 'oui']}

étiquettes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Instructions
Imprimez les trois premières lignes à l’aide de la méthode head().
Supprimez les lignes avec des valeurs Nan.
Extrayez les colonnes 'name' et 'score' du DataFrame.
Écrivez un programme Pandas pour ajouter une nouvelle ligne 'k' au DataFrame avec ces valeurs (nom: « Suresh », score: 15.5, tentatives: 1, qualifier: « yes »).
Écrivez un programme Pandas pour supprimer la colonne 'attempts' du DataFrame.
Ajouter une nouvelle colonne « Succès »: si le score est supérieur à 10 nous aurons 1, sinon nous aurons 0.
Après avoir exécuté le DataFrame final, exportez-le dans un fichier CSV nommé « my_data ».

In [38]:
#Créer un DataFrame à partir d'un dictionnaire
import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [39]:
#Imprimez les trois premières lignes à l’aide de la méthode head()
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [37]:
#Supprimez les lignes avec des valeurs Nan.
df.dropna(inplace=True)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [48]:
#Extrayez les colonnes 'name' et 'score' du DataFrame.
print(df.loc[:,['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [52]:
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [54]:
#Écrivez un programme Pandas pour supprimer la colonne 'attempts' du DataFrame.
df.drop("attempts", axis=1)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [55]:
#Ajouter une nouvelle colonne « Succès »: si le score est supérieur à 10 nous aurons 1, sinon nous aurons 0. 

df['success'] = np.where(df['score'] > 10, 1, 0)

print(df)

        name  score  attempts qualify  success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
k     Suresh   15.5         1     yes        1